<div class="form-group">
  <h5> Create a new post:</h5>

  <!-- <label for="newPostTitleArea">Title</label> -->
  <textarea class="form-control" id="newPostTitleArea" placeholder="Title:"></textarea>

  <!-- <label for="newPostTextArea">Enter your blog: </label> -->
  <textarea class="form-control" id="newPostTextArea" rows="5" placeholder="Text:"></textarea>

  <button class="btn btn-primary" type="submit">Submit post</button>
</div>