<div class="form-group">
  <label for="newPostTextArea"> Your entry:</label>
  <textarea class="form-control" id="newPostTextArea" rows="3"></textarea>
  <button class="btn btn-primary" type="submit">Submit post</button>
</div>