<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
  </head>
  <body>
    <header>
      <h1>Tech Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/signup">Sign Up</a>
        <a id="loggedin" href="/login">Login</a>
      </nav>
    </header>
    <main>
      <div class="posts">
        {{{body}}}
      </div>
    </main>
  </body>
</html>