<section class="container-fluid">
  <ul>
  {{#each posts as |post| }}
  <li class="card">
    <h5>
      {{post.title}}
    </h5>
    <p>
      {{post.contents}}
    </p>
    <p>
      Posted by: {{user.username}}
    </h6>
    <p>
      At: {{post.postedAt}}
    </h6>
  </li>
  {{/each}}
  </ul>
</section>